venv/
__pycache__/
*.pyc

artifacts/
dt/
logs/

research/pegasus-samsum-model/
research/pegasus-samsum-tokenizer/
research/pegasus-samsum/

.cache/
*.cache
*.log
*.tmp

.ipynb_checkpoints/
.DS_Store
Thumbs.db